@font-face {
  font-family: "GilroyBlack";
  src: url(../fonts/Gilroy/gilroy-black.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GilroyBold";
  src: url(../fonts/Gilroy/gilroy-bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GilroyMedium";
  src: url(../fonts/Gilroy/gilroy-medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GilroyRegular";
  src: url(../fonts/Gilroy//gilroy-regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GilroySemiBold";
  src: url(../fonts/Gilroy/gilroy-semibold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'GilroyRegular' sans-serif;
  line-height: 32px;
  color: #1d2530;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding-top: 40px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo .logo__icon {
  width: 55px;
  height: 39.63px;
}

.logo .logo__title {
  font-family: 'GilroyBold';
  font-size: 32px;
}

.nav {
  font-size: 22px;
}

.nav .nav__item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 18px;
  color: #1d2530;
  text-decoration: none;
}

.nav .nav__item:hover {
  color: #685ed6;
  font-weight: bold;
}

.nav .nav__item::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.wrap {
  padding-top: 125px;
  width: 100%;
}

.wrap__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 480px;
}

.slogan__title {
  display: inline-block;
  width: 398px;
  height: 120px;
  font-family: 'GilroyBlack';
  font-size: 52px;
  line-height: 55px;
  color: #685ed6;
  margin-bottom: 30px;
}

.slogan__title span {
  color: #1d2530;
}

.slogan__text {
  margin-top: 0;
  font-size: 24px;
  line-height: 34px;
  color: #1d2530;
}

.slogan__text span {
  color: #685ed6;
  font-family: 'GilroyBlack';
}

.btn {
  font-family: 'GilroyBold';
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  padding: 12px 32px;
  color: #fff;
  border-radius: 6px;
  background-color: #685ed6;
  text-decoration: none;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
  border: none;
}

.btn--small {
  width: 168px;
  height: 48px;
}

.btn--long {
  width: 287px;
}

.btn--form {
  width: 100%;
  height: 48px;
  display: block;
  margin: 56px 0;
}

.btn:hover {
  background-color: #f1e4ff;
  color: #685ed6;
}

.desc {
  padding-top: 96px;
  width: 100%;
}

.desc__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.definition__title {
  font-family: 'GilroyBlack';
  font-size: 25px;
  width: 530px;
  color: #1d2530;
  margin-bottom: 68px;
}

.item__definition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 428px;
  margin-left: 27.95px;
}

.item__title {
  padding: 2px 0;
  margin: 2px 0;
  font-family: "GilroySemiBold";
  font-size: 24px;
  color: #1d2530;
}

.item__subtitle {
  margin: 0;
  font-family: "GilroyRegular";
  font-size: 20px;
}

.ilustrion__definition {
  padding-right: 100px;
}

.tarif {
  padding-top: 130px;
  width: 100%;
}

.tarif__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .title__desc {
  font-family: "GilroyBlack";
  font-size: 39px;
  color: #1d2530;
}

.title .title__text {
  font-family: "GilroyBold";
  font-size: 24px;
  color: #1d2530;
}

.tarifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto 30px;
}

.tarif__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 33px;
}

.tarif__item .tarif__type {
  font-family: "GilroyBlack";
  font-size: 24px;
  color: #685ed6;
}

.tarif__item .tarif__desc {
  font-family: "GilroyBold";
  font-size: 28px;
  color: #1d2530;
  width: 255px;
  text-align: center;
}

.tarif__item .tarif__price {
  font-family: "GilroyMedium";
  font-size: 20px;
  color: #1d2530;
  margin-bottom: 50px;
}

.steps {
  padding-top: 100px;
  width: 100%;
}

.steps__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 56px;
  background: url(../img/steps/bg.svg) no-repeat top;
}

.step__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.step__icon {
  margin-bottom: 12px;
}

.position--item {
  margin-top: 70px;
}

.step__desc {
  text-align: center;
  width: 270px;
  margin-bottom: 65px;
}

.step__desc .step__title {
  font-family: "GilroyBold";
  font-size: 24px;
  margin: 2px 0;
}

.step__desc .step__text {
  font-family: "GilroyRegular";
  font-size: 20px;
  margin: 2px 0;
}

.clients {
  padding-top: 100px;
  width: 100%;
}

.clients__inner {
  position: relative;
}

.comments {
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.comment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__wrap {
  width: 540px;
  height: 290px;
  text-align: center;
  -webkit-box-shadow: 0 10px 36px #c4c4c4;
          box-shadow: 0 10px 36px #c4c4c4;
  border-radius: 10px;
  padding: 32px 32px 56px;
  position: relative;
}

.comment__wrap .comment__title {
  font-family: "GilroyBold";
  font-size: 24px;
}

.comment__wrap .comment__text {
  font-family: "GilroyRegular";
  font-size: 16px;
  margin-bottom: 56px;
}

.comment__wrap:before {
  content: "";
  display: block;
  border-style: solid;
  border-width: 15px 12px 0 12px;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  left: 47.78%;
  right: 47.78%;
  top: 100.0%;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.client__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.client__info .client__name {
  font-family: "GilroyBold";
  font-size: 24px;
}

.client__info .client__email {
  font-family: "GilroyRegular";
  font-size: 16px;
  margin: 0;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.dot {
  display: inline-block;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border: 2px solid #1d2530;
  border-radius: 50%;
  outline: none;
}

.dot:active {
  background-color: #685ed6;
}

.form {
  padding: 90px 0;
  width: 100%;
}

.form__inner {
  display: block;
  background: linear-gradient(25deg, #685ed6 56%, #6c6ee7 55%);
  border-radius: 6px;
  height: 288px;
  position: relative;
}

.form__inner > img {
  position: absolute;
  left: 7.7%;
  right: 8.82%;
  top: 17.33%;
  bottom: 0%;
}

.leave__email {
  padding: 48px 18px 74px 580px;
}

.leave__email .form__title {
  width: 445px;
  height: 82px;
  font-family: "GilroyBold";
  font-size: 33px;
  color: #fff;
}

input[type="email"] {
  width: 248px;
  height: 52px;
  padding: 14px 16px;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  border: none;
  outline: none;
}

input[type="submit"] {
  width: 120px;
  height: 48px;
  padding: 14px 24px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  background: #18191f;
  border: none;
  font-family: "GilroyBold";
  font-size: 14px;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.footer {
  background: #1d2530;
  width: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}

.logo--footer {
  margin-right: 455px;
  width: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo--footer .logo__icon {
  width: 81px;
  height: 59px;
}

.logo--footer .logo__title {
  font-family: "GilroyBold";
  font-size: 32px;
  color: #fff;
  margin-top: 10px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.link__items {
  font-family: "GilroyMedium";
  font-size: 20px;
  color: #fff;
  width: 160px;
  margin-right: 150px;
}

.nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__footer .link__item {
  font-family: "GilroyRegular";
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin: 6px 0;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}

.nav__footer .link__item:hover {
  color: #c4c4c4;
}

.footer__end {
  height: 72px;
  background: #141b23;
  font-family: "GilroyRegular";
  font-size: 14px;
  color: #fff;
}

.footer__end p {
  height: 24px;
  padding: 24px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
  max-width: 480px;
  height: 502px;
  margin: 200px auto;
}

.modal__content {
  position: relative;
  max-width: 480px;
  max-height: 502px;
  padding: 100px 70px;
  background-color: #fff;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 6.25%;
  right: 6.25%;
  background-color: transparent;
  cursor: pointer;
}

.modal__title {
  font-size: 32px;
  font-family: "GilroyBold";
  text-align: center;
  color: #685ed6;
  margin-bottom: 32px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding: 16px 20px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
  background-color: #f7f7fd;
  outline: none;
  font-size: 16px;
  font-family: "GilroyRegular";
}

.password {
  position: relative;
}

.password-control {
  position: absolute;
  bottom: 25%;
  right: 5%;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/modal/no-view.svg) 0 0 no-repeat;
}

.password-control.view {
  background: url(/no-view.svg) 0 0 no-repeat;
}
/*# sourceMappingURL=style.css.map */